body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.w-25s{
  width: 30%;
}
@media all and  (max-width:520px){
  .w-25s{
    width: 70%;
  }
  }
  @media all and (min-width:520px) and (max-width:920px){
    .w-25s{
      width: 40%;
    }
}